
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with <i class="fa-solid fa-heart fa-2xs"></i> by Ricardo Nava <a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a>
     <a href=""><i class="fa-brands fa-github fa-2xl"></i></a></p>
  </div>
</div>
</body>
</main>
</html>
